<%- include('./partials/header') %> 
   
<div id='home-page'>
    <p class='display-1 fw-bold text-center text-white'>Dang Trains</p>
    <span class='placeholder col-12 placeholder-xs bg-light'></span><br>
    <p class='fs-2 fw-light text-center text-white'>Track/Train/Or Remain The Same</p>
    <br>
    <p class='fs-2 text-center text-white'>WORKOUT LOG</p>
    <br>
    <p class='fs-4 fw-light text-center text-white'>"Simple way to track your workouts"</p>
    <br> 
    <p class='text-center'><a class='btn btn-self' href='/routines/new'><input type='submit' value='START TRACKING'></a></p>
<br><br>
    <section class='text-center'>
        <div class='container'>
          <h2 class='fw-bold text-white'>Why is it so great</h2>
          <p class='text-white'>Track and get motivation in the largest fitness community!
          </p>
    <br><br><br>
          <div class='row'>
      
            <div class='col-md-4'>
              <h5 class='fw-bold text-white '>Log your workout</h5>
              <p class='text-white'>Keep track of your routines and workouts. You can reference
                them at any time!
              </p>
            </div>
        
            <div class='col-md-4'>
      
              <i class='ftext-white'></i>
              <h5 class='fw-bold text-white '>Profile</h5>
              <p class='text-white'>Create and personalize your own profile and prescence
                in the community!
              </p>
      
            </div>

            <div class='col-md-4'>
      
                <i class='text-white'></i>
                <h5 class='fw-bold text-white '>Community</h5>
                <p class='text-white'>Share your routines with others and get inspired!
                </p>
        
              </div>
<%- include('./partials/footer') %> >
