<%- include('./partials/header') %> 

    <p class='fs-1'>Dang Trains</p>
    <br>
    <p class='fs-2'>Track/Train/Or Remain The Same</p>
    <br>
    <p class='fs-2'>WORKOUT LOG</p>
    <br>
    <p class='fs-4'>"Simple way to track your workouts"</p>
    <br> 
    <a class='btn btn-self' href='/routines/new'><input type='submit' value='START TRACKING'></a>
    
<%- include('./partials/footer') %> >
