* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: black;
}

body{
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
  'nav'
  'main'
}

body > nav {
  grid-area: nav;
  background-color: grey;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}


.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}
