<%- include('../partials/header') %>

<h2>Your Routines</h2>
<table>
    <thead>
        <tr class="titles">
            <th>Routine Name</th>
            <th>Description</th>
            <th>Date</th>
        </tr>
    </thead>
</table>

<%- include('..partials/footer') %> 