<%- include('../partials/header') %>
<body>

<main>
        <h1>Add Your Routine</h1>
        <form action='/users' method='POST'>
            <label>Routine Name:
            <input type='text' name='name'></label><br>
            <label>Description:
                <input type='text' name='description'></label><br>
            </label>
            <label>Date:
                <input
          value="<%= localDate.slice(0, 16) %>"
          type="datetime-local"
          name="date" />
            </label>
            </label>
                <input type='submit' value='Add Routine'>
            
        </form>
</body>
</main>

<%- include('../partials/footer') %> 