<%- include('../partials/header') %>
<body>

<main>
        <h1>Add Your Routine</h1>
        <form action='/routines' method='POST'>
            <label>Routine Name:
            <input type='text' name='name'></label><br>
            <label>Description:
                <input type='text' name='description'></label><br>
            </label>
            <label>Exercise:
                <input type='text' name='exercises'>
            </label><br>
            <label>Sets:
            <input type='text' name='sets'></label><br>
            <label>Reps:
                <input type='text' name='reps'>
            </label><br>
            <label>Weight:
                <input type='text' name='weight'></label><br>
            <label>Date:
                <input type='datetime-local' name='date' />
            </label>
            </label>
                <input type='submit' value='Add Routine'>
            
        </form>
</body>
</main>

<%- include('../partials/footer') %> 