<%- include('../partials/header') %>
<div class='profile-usertitle'>
    <div class='profile-usertitle-name'></div>
    {{user.displayName}}
    </div>
    <div class='profile-usermenu text-left'>
        <i class='fas fa-map-marker-alt'></i><strong> Location:</strong><br> {{info.location}}</div>
    <div class='profile-usermenu text-left'>
        <i class='fas fa-bullseye'></i><strong>Goals:</strong><br> {{info.goal}}
    </div>
    <div class='profile-usermenu text-left'>
        <i class="fas fa-user"></i> <strong>About Me:</strong> <br> {{info.bio}}
    </div>
    </div>
</div>
<%- include('../partials/footer') %>  